@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
    background-color: #3B3939;
    font-family: 'Jersey 10', sans-serif;
}


.perguntaAberta-icone-raio {
    position: absolute;
    top: 5px;
    width: 70px;
    height: 70px;
    padding-top: 10px;
}

.perguntaAberta-flashcards{
    color: #fff;
    font-size: 70px;
    padding-left: 70px;
}

.perguntaAberta-pergunta{
    display: flex;
    justify-content: center;
    background-color: #FFD302;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    font-size: 30px;
}

#perguntaAberta-text{
    color: #ABA5A5;
    width: 900px;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 70px;
    font-family: 'Jersey 10', sans-serif;
    border-radius: 8px;
    border: none;
}

.perguntaAberta-resposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perguntaAberta-botaoEnviar{
    display: flex;
    background-color: #4FA3A9;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 80px;
}

.perguntaAberta-enviar{
    display: flex;
    color: black;
    font-family: 'Jersey 10', sans-serif;
    font-size: 25px;
    padding: 27px;

}

.perguntaAberta-botaoEnviar:hover {
    background-color: #4FA3A9;
    transform: scale(1.05);
}
