@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
    background-color: #3B3939;
    font-family: 'Jersey 10', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.pontuacao-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-left: -1100px;
    margin-top: -100px;
}

.pontuacao-logo-text {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}


.pontuacao-icone-raio {
    position: absolute;
    right: -65px;
    top: 5px;
    width: 57px;
    height: 57px;
    padding-top: 22px;
}

.pontuacao-flashcards-wrapper, .pontuacao-edition-wrapper {
    position: relative;
    display: inline-block;
}

/* Sombra para o "FLASHCARDS" */
.pontuacao-text-shadow1 {
    position: absolute;
    color: red;
    font-size: 60px;
    z-index: 0;
    left: 2px;
    top: 22px;
    transform: translate(3px, 3px);
}

/* Sombra para o "edition" */
.pontuacao-text-shadow2 {
    position: absolute;
    color: red;
    font-size: 35px;
    z-index: 0;
    left: 61px;
    top: -37px;
    transform: translate(2px, 2px);
}

/* Texto principal */
.pontuacao-flashcards {
    color: #fff;
    font-size: 60px;
    padding-top: 25px;
    position: relative;
    z-index: 1;
}

.pontuacao-edition {
    color: #fff;
    font-size: 35px;
    position: relative;
    bottom: 35px;
    right: -60px;
    z-index: 1;
}

.pontuacao-java {
    color: #F81919;
    font-size: 75px;
    padding-right: 45px;
    margin-top: -20px;
}

.pontuacao-cinza_escuro {
    display: flex;
    justify-content: center;
    background-color: #222;
    width: 100vw;
    padding: 0px;
    height: 390px;
    align-content: center;
    

}

.pontuacoes{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #fff;

}

ol{
    margin-top: -15px;
}

.melhores-container {
    display: flex;
    align-items: center;
    gap: 0px; /* Espaço entre o ícone e o texto */
    margin-left: -85px;
    margin-top: 50px;
}

.pontuacao-icone-moeda {
    width: 65px; /* Ajuste o tamanho se necessário */
    height: 65px;
    margin-left: 45px; /* Remove o deslocamento para a esquerda */
    margin-top: 160px;
}

.melhores-pontuacoes {
    background-color: #F81919;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding: 0px;
    margin-left: 110px;

}

.pontuacao-ranking{
    padding-top: 20px;
}

.pontuacao-botaoVoltar{
    display: flex;
    background-color: #4FA3A9;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: -1200px;
}

.pontuacao-voltar{
    display: flex;
    color: black;
    font-family: 'Jersey 10', sans-serif;
    font-size: 25px;
    padding: 27px;

}

.pontuacao-botaoVoltar:hover {
    background-color: #4FA3A9;
    transform: scale(1.05);
}